.white {
    background: rgb(232, 235, 239);
}

.suggestion-highlight::before { 
  content: " ";
  position: absolute;
  background-color: black;
  height: 10px;
  width: 10px;
}

.black {
    background: rgb(125, 135, 150);
}
.highlight {
  background: yellow !important;
}
.key-highlight {
  background: green;
}
.check-highlight {
  box-shadow: red;
}
.board {
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    background: transparent;
    display: flex;
    margin: 0 0 0 auto;
}

.row {
  display: flex;
}

.square {
  box-sizing: border-box;
  width: 50px;
  padding-bottom: 100%;
  display: grid;
  place-items: center;
  position:relative;
}
@media screen and (max-width: 768px) {
  .board {
    max-width: 90%;
  }

  .square {
    padding-bottom: 90%;
  }
}

@media screen and (max-width: 480px) {
  .board {
    max-width: 80%;
  }

  .square {
    padding-bottom: 80%;
  }
}
