
.active-player {
  opacity: 1;
}

.inactive-player {
  opacity: 0.6;
}

#player-info-white { 
  color: black;
  background: white;
  width: 40%;
  margin: 0;
  padding: 0;
}

#player-info-black {
  color: white;
  background: black;
  width: 40%;
  margin: 0;
  padding: 0;
}
